/*# CSS RESET */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/*# utilites */

.container {
    max-width: 1100px;
    margin: 0 auto;
}

.d-flex {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.d-flex * {
    margin: 0 auto;
    flex-basis: calc((100% / 8) - 30px);
}

.d-none {
    display: none;
}

/*# generals */

body {
    background-color: #100645;
    font-family: Livvic, sans-serif;
}

/*# header */

.header {
    min-height: 15em;
    border-radius: 0 0 12px 12px;
    text-align: center;
    background-image: url(../images/header-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #2d28eb;
    margin-bottom: 20px ;
}

.header > h1 {
    color: white;
    padding: 10px;
}

/*# box */

.box {
    min-height: 100px;
    background-color: #2e6754;
    text-align: center;
    /* padding: 5px; */
    border-radius: 12px;
    padding: 5px;
}

.box:last-child {
    flex-basis: 100%;
    background-color: #d4d6f5;
}

.box:last-child > h2 {
    color: #2e6754;
}

h2 {
    color: white;
    font-size: 2em;
}

/*# modal */

#modal {
    background-color: #e78ab7;
    padding: 30px;
    margin: auto;
    border-radius: 12px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#modal > img {
    margin: 0;
}

#modal > button {
    display: block;
    margin: auto;
    margin-top: 10px;
    padding: 10px;
    background-color: #2d28eb;
    border: 0;
    border-radius: 12px;
    color: white;
    font-size: 1.1em;
    font-weight: 600;
}

/*# overlay */

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
}