/*# CSS RESET */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/*# utilites */

.container {
    max-width: 1100px;
    margin: 0 auto;
}

.d-flex {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.d-flex * {
    margin: 0 auto;
    flex-basis: calc((100% / 8) - 30px);
}

/*# generals */

body {
    background-color: #100645;
    font-family: Livvic, sans-serif;
}

/*# header */

.header {
    min-height: 15em;
    border-radius: 0 0 12px 12px;
    text-align: center;
    background-image: url(../images/header-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #2d28eb;
    margin-bottom: 20px ;
}

.header > h1 {
    color: white;
    padding: 10px;
}

/*# box */

.box {
    min-height: 100px;
    background-color: #2e6754;
    text-align: center;
    /* padding: 5px; */
    border-radius: 12px;
}

h2 {
    color: white;
    font-size: 2em;
}